data/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JobProtocolEditorSaveData" type="JobProtocolEditorSaveDataType"/>
  <xs:complexType name="settingParam1Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="itemId" maxOccurs="1" minOccurs="1"/>
      <xs:element name="type" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="1"/>
      <xs:element name="linkLineNo">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="linkItemNo">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="objectTypeType" name="objectType"/>
      <xs:element type="xs:string" name="commandType"/>
      <xs:element name="category">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="settingParam1Type" name="settingParam1"/>
      <xs:element type="settingParam2Type" name="settingParam2"/>
      <xs:element type="settingParam3Type" name="settingParam3"/>
      <xs:element type="settingParam4Type" name="settingParam4"/>
      <xs:element type="xs:string" name="settingParam4Sub"/>
      <xs:element name="settingParam2Sub">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="settingParam3Sub">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="settingParam1Sub">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="statusType">
    <xs:sequence>
      <xs:element type="xs:string" name="useAdjustTopPosision"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="settingParam2Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="settingParam4Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="settingParam3Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element type="xs:string" name="dataVersion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objectTypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="mainType">
    <xs:sequence>
      <xs:element name="protocolMetaData" type="protocolMetaDataType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element type="objectType" name="object"
                  maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JobProtocolEditorSaveDataType">
    <xs:sequence>
      <xs:element type="headerType" name="header"/>
      <xs:element type="statusType" name="status"/>
      <xs:element type="mainType" name="main" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objectType">
    <xs:sequence>
      <xs:element name="objectId" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="protocolMetaDataType">
    <xs:sequence>
      <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="modules" type="modulesType" maxOccurs="1" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modulesType">
    <xs:sequence>
      <xs:element name="module" type="moduleType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="moduleType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="startObjectId" type="xs:int" maxOccurs="1"
                  minOccurs="1">
      </xs:element>
      <xs:element name="startItemId" type="xs:int" maxOccurs="1"
                  minOccurs="1">
      </xs:element>
      <xs:element name="endObjectId" type="xs:int" maxOccurs="1"
                  minOccurs="1">
      </xs:element>
      <xs:element name="endItemId" type="xs:int" maxOccurs="1"
                  minOccurs="1">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>